.img-header {
    float: left;
    clear: right;
    width: 45px;
}

.model-details {
    display: grid;
}

.model-details span {
    margin-bottom: 20px;
}

.update-form {
    width: 30%;
}

.update-form button {
    width: 200px;
}

.content-header {
    display: flex;
    justify-content: space-between;
}